/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    color: #636363;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.6;
}
.container {
    max-width: 1199px;
    margin: auto;
}
a {
    text-decoration: none;
    display: inline;
}
ul li {
    list-style: none;
}
.title p{
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}
.title h2{
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}
.section-inner {
    padding-top: 115px;
}
/* HEADER */
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__content nav {
    display: flex;
    align-items: center;
}
.header__content nav ul {
    display: flex;
    margin-right: 30px;
}
.header__content li a {
    color: black;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 500;
    transition: all .5s;
}
.header__content li {
    padding: 55px 15px;
}
.header__content i {
    font-size: 0.6rem;
    margin-top: -0.2rem;
    vertical-align: middle;
}
.header__content a span {
    display: inline-block;
    transition: all .1s;
}
.header__content a:hover {
    color: #f55f8d;
}
.header__content a:hover span{
    animation: upToDown .3s;
}
.btn-gradient {
    padding: 20px 35px;
    font-size: 15px;
    font-weight: 500;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border: 1px solid transparent;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    line-height: 1.2;
    transition: all .5s;
}
.btn-gradient:hover{
    background-position: right center;
}
/* CAROUSEL */
.saCarousel {
    padding-top: 180px;
    overflow: hidden;
    background-image: url(../img/pic2.png);
    background-position: top;
    background-size: 100%;
}
.saCarousel__content {
    display: flex;
    align-items: center;
}
.saCarousel__article p{
    font-size: 18px;
    margin-bottom: 15px;
}
.saCarousel__article ul{
    margin-bottom: 20px;
}
.saCarousel__article li{
    padding: 10px 5px 10px 0;
    font-size: 20px;
}
.saCarousel__article i{
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    border-radius: 35px;
    font-weight: 900;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    margin-right: 10px;
}
.saCarousel__right{
    width: 40%;
}
.saCarousel__banner {
    width: 570px;
    margin-left: 50px;
}
/* SERVICES */
.services{
    background-image: url(../img/bg2.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
}
.services__content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 40px;
}
.services__item{
    border-radius: .5rem;
    background: #fff;
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
    padding: 30px 45px;
    transform: translateY(0);
    transition: all .5s;
    border: 3px solid transparent;
}
.services__item img {
    width: 215px;
}
.services__item h3{
    font-weight: 700;
    font-size: 1.5rem;
    color: #262626;
    margin: 15px 0;
}
.services__item:hover{
    transform: translateY(-20px);
    border-image: url(../img/br.png) 1 round;
}
/* ABOUT US */
.aboutUs {
    background-image: url(../img/bg15.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center right;
    padding-bottom: 85px;
    overflow: hidden;
}
.aboutUs__content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
.aboutUs__left{
    position: absolute;
    width: 60%;
    left: -17%;
}
.aboutUs__left img{
    width: 100%;
    border-radius: 0 100px 100px 0;
}
.aboutUs__right{
    width: 50%;
}
.aboutUs__right p{
    margin-bottom: 15px;
}
.aboutUs__right ul{
    margin-bottom: 30px;
}
.aboutUs__right i{
    font-size: 24px;
    margin-right: 10px;
    color: #f55f8d;
    vertical-align: middle;
}
/* NUMBER */
.number{
    background-image: url(../img/bg14.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 0 50px;
    text-align: center;
}
.number__content{
    display: flex;
    justify-content: space-around;
}
.number__item{
    width: 25%;
}
.number__item i{
    font-size: 45px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    color: white;
    width: 80px;
    height: 80px;
    line-height: 80px;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 15px;
}
.number__item p:first-of-type{
    font-size: 65px;
    font-weight: 800;
    color: #f55f8d;
    line-height: 1;
}
.number__item p:last-of-type{
    color: #262626;
    font-size: 18px;
}
/* FEATURES */
.features{
    background-image: url(../img/bg2.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 0;
    overflow: hidden;
}
.features__content{
    display: flex;
}
.features__left{
    width: 50%;
}
.features__bg{
    box-shadow: 0 0px 60px 0px rgb(0 0 0 / 10%);
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.features__item i{
    font-size: 80px;
    line-height: 1;
    color: #f55f8d;
    z-index: 1;
    transition: all 1s;
}
.features__item div{
    padding-left: 25px;
    z-index: 1;
    transition: all 1s;
}
.features__item h3{
    color: #262626;
    font-weight: 800;
    font-size: 1.5rem;
    transition: all 1s;
}
.features__bg::before {
    content: "";
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 1s;
}
.features__bg:hover::before {
    opacity: 1;
}
.features__bg:hover i, .features__bg:hover div, .features__bg:hover h3{
    color: #fff;
}
.features__item{
    padding: 0 50px 30px 0;
}
.features__item:nth-of-type(2){
    padding: 0 0 30px 50px;
}
.features__right{
    width: 50%;
}
.features__banner{
    right: -80px;
}
.features__banner img{
    max-width: 100%;
    animation: move2 5s infinite;
}
/* PORTFOLIO */
.portfolio{
    background-image: url(../img/bg17.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
    overflow: hidden;
}
.portfolio__content{
    display: grid;
    grid-template-columns: repeat(2,1fr) 1.5fr;
    gap: 35px;
}
.portfolio__item{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.portfolio__item::before {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    transform: skewX(-25deg);
    transition: all 0.75s;
}
.portfolio__item:hover::before {
    left: 125%;
}
.portfolio__item img{
    width: 100%;
    height: 100%;
}
.portfolio__item1{
    grid-column: 1 / span 2;
}
.portfolio__item5{
    grid-column: 1 / span 2;
}
.portfolio__item6{
    grid-column: 3 / 4;
    grid-row: 2 / 4;
}
.portfolio__overlay{
    background-color: rgb(0 0 0 / 40%);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all .75s;
}
.portfolio__item:hover .portfolio__overlay{
    opacity: 1;
}
.portfolio__icon{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 28px;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    width: 50px;
    height: 50px;
    color: #fff;
    line-height: 50px;
    border-radius: 10px;
    transform: translate(20px, -20px);
    transition: all 0.75s;
}
.portfolio__item:hover .portfolio__icon{
    transform: translate(0);
}
.portfolio__icon a{
    cursor: pointer;
    color: #fff;
}
.portfolio__text{
    position: absolute;
    bottom: 30px;
    left: 30px;
    text-align: left;
    transform: translateY(150px);
    transition: all 0.75s;
}
.portfolio__item:hover .portfolio__text{
    transform: translateY(0);
}
.portfolio__text h3{
    font-size: 22px;
    font-weight: 800;
    color: white;
}
.portfolio__text p{
    color: #fff;
    opacity: 0.7;
}
/* BLOG */
.blog{
    background-image: url(../img/bg16.png);
    background-size: cover;
    background-position: top center;
    padding-bottom: 50px;
    text-align: center;
}
.blog__content .owl-item{
    margin-right: 30px;
}
.blog__item{
    background-color: rgb(245 95 141 / 10%);
    text-align: left;
    border-radius: 8px;
}
.blog__header{
    position: relative;
}
.blog__header img{
    border-radius: 8px;
    width: 100%;
}
.blog__header p{
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    position: absolute;
    bottom: -20px;
    left: 15px;
}
.blog__body{
    padding: 30px 15px 20px 15px;
    line-height: 1.4;
    margin-bottom: 20px;
}
.blog__body h3{
    font-size: 1.5rem;
    font-weight: 700;
    color: #262626;
}
.blog__footer{
    display: flex;
    align-items: center;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.blog__footer p:first-of-type{
    margin-right: 20px;
}
.blog__footer p:first-of-type span{
    color: #f55f8d;
}
.blog__footer i{
    font-size: 22px;
    color: #f55f8d;
    vertical-align: sub;
}
/* FOOTER */
footer{
    background-image: url(../img/bg4.png);
    display: block;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0e1b1f;
    background-size: contain;
    color: #fff;
    font-size: 15px;
    position: relative;
}
footer::before{
    content: "";
    background-image: url(../img/pattern2.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.footer__top{
    padding: 50px 60px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.1);
    background-image: url(../img/pattern3.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    display: flex;
}
.footer__text{
    width: 50%;
}
.footer__text h2{
    color: #262626;
    font-size: 28px;
}
.footer__form{
    width: 50%;
}
.footer__form form{
    display: flex;
    border-radius: .5rem;
    box-shadow: 0 0 60px 0 rgb(0, 0, 0, 0.1);
}
.footer__form input{
    padding: 20px 20px;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    background: #fff;
    flex: 1 1 auto;
    border-radius: 0.5rem 0 0 0.5rem;
    border: 1px solid #fff;
    outline: none;
    transition: all .5s;
}
.footer__form input:focus, .footer__form input:hover {
    border-color: #f55f8d;
}
.footer__form button{
    padding: 20px 35px;
    font-size: 20px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border-color: transparent;
    transition: all 0.5s;
    border-radius: 0 0.5rem 0.5rem 0;
    color: white;
    cursor: pointer;
}
.footer__form button:hover{
    background-position: right center;
}
.footer__form button:hover i {
    animation: toLeftFromRight 0.5s forwards;
    display: inline-block;
}
.footer__bottom{
    padding: 70px 0;
    display: flex;
    position: relative;
}
.footer__item{
    width: 25%;
}
.footer__item i{
    font-weight: 700;
    margin-right: 10px;
}
.footer__item li{
    display: flex;
    align-items: center;
    padding: .5rem 0;
}
.footer__contact i{
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-right: 10px;
    text-align: center;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    display: block;
    border-radius: 50px;
}
.footer__item h3{
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
    color: #fff;
}
.footer__item h3::before,.footer__item h3::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    border-radius: 20px;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
}
.footer__item h3::before{
    width: 15px;
}
.footer__item h3::after{
    width: 45px;
    left: 20px;
}
.footer__item a{
    color: #636363;
    font-size: 16px;
    transition: all .5s;
}
.footer__item a:hover {
    color: white;
}
.footer__copyright {
    background-color: #1f343b;
    padding: 10px 0;
    position: relative;
}
.footer__content {
    display: flex;
    justify-content: space-between;
}
.footer__left span {
    color: #f55f8d;
}
.footer__copyright a {
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    display: inline-block;
    border-radius: 50px;
    font-size: 14px;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.5s;
}
.footer__copyright a:hover{
    background-color: #f55f8d;
}
/* BACK TO TOP */
.backToTop {
    width: 50px;
    height: 50px;
    background: #f55f8d;
    border-radius: 8px;
    line-height: 50px;
    text-align: center;
    display: block;
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: white;
    transition: all .2s;
    box-shadow: -4px 4px 24px -10px #f55f8d;
    visibility: hidden;
    opacity: 0;
}
.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}
/* ANIMATE */
@keyframes upToDown {
    49%{
        transform: translateY(100%);
    }
    50%{
        opacity: 0;
        transform: translateY(-100%);
    }
    51%{
        opacity: 1;
    }
}
@keyframes move2 {
    0% {
        transform: rotate(1deg) translate(2px, 2px);
    }

    50% {
        transform: rotate(-1deg) translate(-2px, -2px);
    }

    100% {
        transform: rotate(1deg) translate(2px, 2px);
    }
}
@keyframes toLeftFromRight {
    49% {
        transform: translateX(100%);
    }

    50% {
        opacity: 0;
        transform: translateX(-100%);
    }

    51% {
        opacity: 1;
    }
}
